<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png" />
    <link rel="icon" type="image/png" href="/img/favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Add Hacks</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- Bootstrap core CSS     -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <!--  Material Dashboard CSS    -->
    <link href="/css/material-dashboard.css?v=1.2.0" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="/css/demo.css" rel="stylesheet" />
     <link href="/css/magic.css" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>

    <!-- select author -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

</head>
<input type="hidden" id="datum" value="<% h %>">
<body>
    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="/img/sidebar-1.jpg">
            <div class="logo">
                <a href="#" class="simple-text">
                    Crumblyy
                </a>
            </div>
            <div class="sidebar-wrapper menu-list">
                <ul class="nav menu-content">
                    <li>
                        <a href="dashboard.html">
                            <i class="material-icons">dashboard</i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="./add.html">
                            <i class="material-icons">add_circle</i>
                            <p>Add Hacks</p>
                        </a>
                    </li>
                    
                    <!-- sub menu -->
                    <li data-toggle="collapse" data-target="#products" class="collapsed">
                        <a href="#">
                            <i class="material-icons">view_carousel</i>
                            <p>Hacks</p>
                        </a>
                    </li>
                    <ul class="sub-menu collapse" id="products">
                        <li>
                            <a class="inner_link" href="./view_hacks.html">
                                <i class="material-icons">view_carousel</i>
                                <p>Admin Hacks</p>
                            </a>
                        </li>
                        <li>
                            <a class="inner_link" href="./admin_drafts.html">
                                <i class="material-icons">view_carousel</i>
                                <p>Admin Drafts</p>
                            </a>
                        </li>
                        <li>
                            <a class="inner_link" href="./user_published.html">
                                <i class="material-icons">view_carousel</i>
                                <p>User Published</p>
                            </a>
                        </li>
                        <li>
                            <a class="inner_link" href="./user_drafts.html">
                                <i class="material-icons">view_carousel</i>
                                <p>User Drafts</p>
                            </a>
                        </li>
                        <li>
                            <a class="inner_link" href="./partner_hacks.html">
                                <i class="material-icons">view_carousel</i>
                                <p>Partner Published</p>
                            </a>
                        </li>
                        <li>
                            <a class="inner_link" href="./partner_drafts.html">
                                <i class="material-icons">view_carousel</i>
                                <p>Partner Drafts</p>
                            </a>
                        </li>
                    </ul>
                    <!-- sub menu style -->

                    <li>
                        <a href="./reports.html">
                            <i class="material-icons">report</i>
                            <p>Reports</p>
                        </a>
                    </li>
                    <li>
                        <a href="./add_report_type.html">
                            <i class="material-icons">report</i>
                            <p>Add Report Type</p>
                        </a>
                    </li>
                    <li>
                        <a href="./special_hack.html">
                            <i class="material-icons">star_rate</i>
                            <p title="Banners, Hack of the day etc">Add Special Hacks</p>
                        </a>
                    </li>
                    <li>
                        <a href="./view_special_hacks.html">
                            <i class="material-icons">stars</i>
                            <p title="Banners, Hack of the day etc">View Special Hacks</p>
                        </a>
                    </li>
                    <li>
                        <a href="./notification.html">
                            <i class="material-icons">notifications_active</i>
                            <p>Send Notification</p>
                        </a>
                    </li>
                    <li>
                        <a href="./tags.html">
                            <i class="material-icons">loyalty</i>
                            <p>Tag List</p>
                        </a>
                    </li>
                    <li>
                        <a href="./users.html">
                            <i class="material-icons">group</i>
                            <p>Users</p>
                        </a>
                    </li>
                    <!-- <li class="active-pro">
                        <a href="upgrade.html">
                            <i class="material-icons">unarchive</i>
                            <p>Upgrade to PRO</p>
                        </a>
                    </li> -->
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"> Add hack </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">dashboard</i>
                                    <p class="hidden-lg hidden-md">Dashboard</p>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">notifications</i>
                                    <span class="notification">5</span>
                                    <p class="hidden-lg hidden-md">Notifications</p>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">Mike John responded to your email</a>
                                    </li>
                                    <li>
                                        <a href="#">You have 5 new tasks</a>
                                    </li>
                                    <li>
                                        <a href="#">You're now friend with Andrew</a>
                                    </li>
                                    <li>
                                        <a href="#">Another Notification</a>
                                    </li>
                                    <li>
                                        <a href="#">Another One</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">person</i>
                                    <p class="hidden-lg hidden-md">Profile</p>
                                </a>
                            </li>
                        </ul>
                        <form class="navbar-form navbar-right" role="search">
                            <div class="form-group  is-empty">
                                <input type="text" class="form-control" placeholder="Search">
                                <span class="material-input"></span>
                            </div>
                            <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                <i class="material-icons">search</i>
                                <div class="ripple-container"></div>
                            </button>
                        </form>
                    </div>
                </div>
            </nav>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title">Add new hack</h4>
                                    <!-- <p class="category">Complete your profile</p> -->
                                </div>
                                <div class="card-content">
                                    <form id="addhackform">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Hack Title</label>
                                                    <input type="text" class="form-control" name="title" id="title">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Category</label>
                                                    <select class="form-control" name="category" id="category">
                                                       <!--  <option value="tech">Technology Tricks</option>
                                                        <option value="food">Food & Drinks</option>
                                                        <option value="health">Health & Fitness</option> -->
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Hack Type</label>
                                                    <select class="form-control" name="hack_type" id="hack_type">
                                                        <option value="HCK_TXT">Text Hack</option>
                                                        <option value="HCK_IMG_TXT">Text & Image Hack</option>
                                                        <option value="HCK_IMG">Image Hack</option>
                                                        <option value="HCK_VID">Video & Text Hack</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Video URL</label>
                                                    <input type="text" class="form-control" name="videos" id="videos">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group label-floating">
                                                    <label class="control-label"> Hack text</label>
                                                    <textarea class="form-control" rows="5" name="body" id="body"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Mobile friendly link</label>
                                                    <input type="text" class="form-control" id="external_link" name="external_link">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Tags</label>
                                                    <input type="text" class="form-control" id="vt" disabled="disabled">
                                                    <input type="hidden" name="tags" value="[]" id="tags">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <input type="hidden" name="images" id="images" value="[]">
                                                    <Label>Upload Image
                                                    <input type="file" name="img[]" class="file" id="vi" multiple="multiple">
                                                    </Label>
                                               <!--      <div class="input-group">
                                                      <span class="input-group-addon"><i class="material-icons">image</i></span>
                                                      <input type="text" class="form-control" disabled placeholder="Upload Image">
                                                      <span class="input-group-btn">
                                                        <button class="browse btn btn-info" type="button"><i class="material-icons">image</i> Browse</button>
                                                      </span>
                                                    </div> -->
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="togglebutton">
                                                    <label>
                                                        <input type="checkbox" checked="" id="publish">
                                                        Publish
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <h4 class="title pt-3">Assign Content Partner</h4>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="partner_open" id="vc"> Add Author
                                                    </label>
                                                </div>
                                                <div class="row-fluid">
                                                  <select  id="partners" name="partners">
                                                    <!-- <options>Select partner</options> -->
                                                  </select>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="hidden" id="token" name="token">
                                        <input type="hidden" name="approved" id="approved">
                                        <input type="hidden" name="content_partner" id="content_partner">
                                        <div class="clearfix"></div>
                                        <button id="save" type="submit" class="btn btn-success pull-right">Save</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<input type="hidden" id="tstore">

<!-- Modal -->
<div id="pModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Yo!</h4>
      </div>
      <div class="modal-body">
        <p>Image upload in progress. Do not close this window.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!--   Core JS Files   -->
<!-- <script src="/js/jquery-3.2.1.min.js" type="text/javascript"></script> -->
<script
              src="https://code.jquery.com/jquery-2.2.4.min.js"
              integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
              crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/js/material.min.js" type="text/javascript"></script>
<!--  Charts Plugin -->
<script src="/js/chartist.min.js"></script>
<!--  Dynamic Elements plugin -->
<script src="/js/arrive.min.js"></script>
<!--  PerfectScrollbar Library -->
<script src="/js/perfect-scrollbar.jquery.min.js"></script>
<!--  Notifications Plugin    -->
<script src="/js/bootstrap-notify.js"></script>
<!-- Material Dashboard javascript methods -->
<script src="/js/material-dashboard.js?v=1.2.0"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src="/js/demo.js"></script>
<script src="/js/magic.js"></script>

<!-- select author -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

<!-- <script> 
    $(document).ready(function(){
        var admin_token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1lIjoiQWRtaW4iLCJhdXRoX3Byb3ZpZGVyIjoiZ29vZ2xlIiwiYWNjZXNzX3Rva2VuIjoiMSIsImVtYWlsIjoiY29udGFjdEB0bmluZS5pbyIsIl9pZCI6IjVhMWZmMGViM2JiMWQxNjI0MThkMThjYiIsImlhdCI6MTUxMjA0MjczMX0.jupeWjV_BiXsFf-81rzJ-k_FJ5zB7D5_jtfLEJjAVT4";
        var base_url = 'http://52.38.92.234:8080';
        $.ajax({
            type : 'GET',
            header : {'Access-Control-Allow-Origin' : '*', 'x-access-token' : admin_token},
            url :  base_url+'/tags/all',
            success : function(data){
                //console.log(data);
            },
            error : function() {
                alert('Server error');
            }
        })


    });


</script> -->

<script type="text/javascript">
    var images;
    var tags;
    // console.log(h);
    var token="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1lIjoiTWQgWnVyZXogVHViYSIsImF1dGhfcHJvdmlkZXIiOiJnb29nbGUiLCJhY2Nlc3NfdG9rZW4iOiIxMjM0NTY2ODkiLCJlbWFpbCI6Inp1cmV6NHUrdGVzdDJAZ21haWwuY29tIiwiX2lkIjoiNWEyZjllMWI2ODY1YjE0ZDMxZjdkZWQzIiwiaWF0IjoxNTEzMDcwMTA3fQ.0fYvmncR8OC9ERlgNIo1knKcTW-jvJrkGX8j1srd1Zc";

    function saveimage($data) {
        image_url="";
        url="http://"+location.host+"/image/save";
        $.ajax({
            type:"POST",
            url:url,
            data:{
                image:$data
            },
            async:false,
            success:function(r){
                image_url=r.url;
                //console.log("saveimage",image_url);
                //console.log(r)
                // images.push(image_url);
            }
        })

        return image_url;
    }

    function get_categories() {
        url=url="http://"+location.host+"/category/all";
        $.ajax({
            "type":"POST",
            "url":url,
            data:{
                "token":token
            },
            success:function(r){
                options="";
                for (var i = a=r.length - 1; i >= 0; i--) {
                    a=r[i];
                    options+=`
                        <option value=`+a.title+`>`+a.title+`</option>
                    `;

                }
                $('#category').append(options);
            }
        })
    }

    function get_partners() {
        url=url="http://"+location.host+"/partners/all";
        $.ajax({
            "type":"POST",
            "url":url,
            data:{
                "token":token
            },
            success:function(r){
                options="";
                for (var i =r.length - 1; i >= 0; i--) {
                    a=r[i];

                    options+=`
                        <option value=`+a.user_id+`>`+a.name+`</option>
                    `;

                }
                options+="<option selected='selected'>Please select</option>";
                //console.log(options);
                $('#partners').append(options);
            }
        })
    }

     function get_tags() {
        url=url="http://"+location.host+"/contents/tags/all";
        $.ajax({
            "type":"POST",
            "url":url,
            data:{
                "token":token
            },
            async:false,
            success:function(r){
                var t=[];
                for (var i = r.length - 1; i >= 0; i--) {
                    z=r[i];
                    t.push(z.tag);
                }
                //console.log("T",t);
                $('#tstore').val(JSON.stringify(t));
                $('#vt').attr("disabled",false);
                tags=r;
                        
            }
        })
    }


    function getBase64Image(img) {
    // Create an empty canvas element
        var canvas = document.createElement("canvas");
        canvas.width = img.width;
        canvas.height = img.height;

        // Copy the image contents to the canvas
        var ctx = canvas.getContext("2d");
        ctx.drawImage(img, 0, 0);

        // Get the data-URL formatted image
        // Firefox supports PNG and JPEG. You could check img.src to guess the
        // original format, but be aware the using "image/jpg" will re-encode the image.
        var dataURL = canvas.toDataURL("image/png");

        return dataURL.replace(/^data:image\/(png|jpg);base64,/, "");
    }
    $(document).ready(function(){
        var h=<%- h %>;
        var $hack=h;

        for(var key in $hack){
            console.log("value",$hack[key]);
            $("[name='"+key+"']").val($hack[key]);
        }
        $('#token').val(token);
        get_categories();
        get_tags();
        get_partners();

        tags=$('#tstore').val();
        tags="[]";
     
        ms=$('#vt').magicSuggest({
            placeholder: 'Enter tag',
            data:JSON.parse(tags),
            resultAsString: true
        });

        $(ms).on('selectionchange', function(){
                newvalue=this.getSelection();
                v="";
                for (var i = newvalue.length - 1; i >= 0; i--) {
                    n=newvalue[i];
                    v+=n.name+",";
                }
                 $('#tags').val(JSON.stringify(v.split(",")));
        })
        $('#token').val(token);

        
      
        $images=[];
       
        $('#vi').change(function(){
             $('#pModal').modal("show")
             var $flag=0;
             var $limit=this.files.length
            for (var i = this.files.length - 1; i >= 0; i--) {
            
                // this.files[i]
                fr = new FileReader();
                fr.readAsDataURL(this.files[i]);
                fr.onload=function(f){
                    // //console.log(f.target.result)
                    r=saveimage(f.target.result);
                    // //console.log("R",r)
                    $images.push(r)
                   

                }
            }

        $("#pModal").modal("hide");
            
            // var file = this.files;
            // //console.log(fr.result)

            // //console.log(getBase64Image(file))
        })

        // url = 'http://52.38.92.234:8080';
        //console.log(url)
        $('#save').click(function(e){
            e.preventDefault()
               /*SERIALIZE WONT WORK*/

               im="";
               for (var i = $images.length - 1; i >= 0; i--) {
                   im+=$images[i]+",";
               }
               $publish=false;
               $vc=false;
               if ($('#publish').is(":checked")) {
                $publish=true
               }
               if ($('#vc').is(":checked")) {
                $vc=true
               }
               $('#approved').val($publish);
               $('#content_partner').val($vc);
               $('#images').val(JSON.stringify(im.split(",")));


               $('#videos').val("["+$('#videos').val()+"]");
               $form=$('#addhackform').serialize();
               // f=new FormData();
               // f.append("title",$('#title').val());
               // f.append("category",$('#category').val());
               // f.append("hack_type",$('#hack_type').val());
               // f.append("videos",$('#videos').val());
               // f.append("body",$('#body').val());
               // f.append("external_link",$('#external_link').val());
               // f.append("tags",$('#tags').val());
               // f.append("images",$('#images').val());
               
               // f.append("approved",$publish);
               // f.append("token",token);
               // f.append("",$('#').val());
               // f.append("",$('#').val());
               // f.append("",$('#').val());
               // f.append("",$('#').val());
               // f.append("",$('#').val());f.append("",$('#').val());
               // f.append("",$('#').val());
               // f.append("",$('#').val());
               url="http://"+location.host+"/contents/submit";
               //console.log($form)
                $.ajax({
                    type:"POST",
                    url:url,
                 
                    data:$form,
                    success:function(r){
                        //console.log(r)
                    },
                    error:function(e){
                        //console.log(e)
                        alert("Cannot connect to server")
                    }
                })
        })
     

    })
</script>

</html>