<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png" />
    <link rel="icon" type="image/png" href="/img/favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Add Hacks</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- Bootstrap core CSS     -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <!--  Material Dashboard CSS    -->
    <link href="/css/material-dashboard.css?v=1.2.0" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="/css/demo.css" rel="stylesheet" />
     <link href="/css/magic.css" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>

    <!-- select author -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

</head>

<body>
    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="../assets/img/sidebar-1.jpg">
            <div class="logo">
                <a href="#" class="simple-text">
                    Crumblyy
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li>
                        <a href="dashboard.html">
                            <i class="material-icons">dashboard</i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li>
                        <a href="./add.html">
                            <i class="material-icons">add_circle</i>
                            <p>Add Hacks</p>
                        </a>
                    </li>
                                        
                    <!-- sub menu -->
                    <li data-toggle="collapse" data-target="#products" class="collapsed">
                        <a href="#">
                            <i class="material-icons">view_carousel</i>
                            <p>Hacks</p>
                        </a>
                    </li>
                    <ul class="sub-menu collapse" id="products">
                        <li>
                            <a class="inner_link" href="./view_hacks.html">
                                <i class="material-icons">view_carousel</i>
                                <p>Admin Hacks</p>
                            </a>
                        </li>
                        <li>
                            <a class="inner_link" href="./admin_drafts.html">
                                <i class="material-icons">view_carousel</i>
                                <p>Admin Drafts</p>
                            </a>
                        </li>
                        <li>
                            <a class="inner_link" href="./user_published.html">
                                <i class="material-icons">view_carousel</i>
                                <p>User Published</p>
                            </a>
                        </li>
                        <li>
                            <a class="inner_link" href="./user_drafts.html">
                                <i class="material-icons">view_carousel</i>
                                <p>User Drafts</p>
                            </a>
                        </li>
                        <li>
                            <a class="inner_link" href="./partner_hacks.html">
                                <i class="material-icons">view_carousel</i>
                                <p>Partner Published</p>
                            </a>
                        </li>
                        <li>
                            <a class="inner_link" href="./partner_drafts.html">
                                <i class="material-icons">view_carousel</i>
                                <p>Partner Drafts</p>
                            </a>
                        </li>
                    </ul>
                    <!-- sub menu style -->

                    <li class="active">
                        <a href="./reports.html">
                            <i class="material-icons">report</i>
                            <p>Reports</p>
                        </a>
                    </li>
                    <li>
                        <a href="./add_report_type.html">
                            <i class="material-icons">report</i>
                            <p>Add Report Type</p>
                        </a>
                    </li>
                    <li>
                        <a href="./special_hack.html">
                            <i class="material-icons">star_rate</i>
                            <p title="Banners, Hack of the day etc">Add Special Hacks</p>
                        </a>
                    </li>
                    <li>
                        <a href="./view_special_hacks.html">
                            <i class="material-icons">stars</i>
                            <p title="Banners, Hack of the day etc">View Special Hacks</p>
                        </a>
                    </li>
                    <li>
                        <a href="./notification.html">
                            <i class="material-icons">notifications_active</i>
                            <p>Send Notification</p>
                        </a>
                    </li>
                    <li>
                        <a href="./tags.html">
                            <i class="material-icons">loyalty</i>
                            <p>Tag List</p>
                        </a>
                    </li>
                    <li>
                        <a href="./users.html">
                            <i class="material-icons">group</i>
                            <p>Users</p>
                        </a>
                    </li>
                    <!-- <li class="active-pro">
                        <a href="upgrade.html">
                            <i class="material-icons">unarchive</i>
                            <p>Upgrade to PRO</p>
                        </a>
                    </li> -->
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"> Reports </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">dashboard</i>
                                    <p class="hidden-lg hidden-md">Dashboard</p>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">notifications</i>
                                    <span class="notification">5</span>
                                    <p class="hidden-lg hidden-md">Notifications</p>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">Mike John responded to your email</a>
                                    </li>
                                    <li>
                                        <a href="#">You have 5 new tasks</a>
                                    </li>
                                    <li>
                                        <a href="#">You're now friend with Andrew</a>
                                    </li>
                                    <li>
                                        <a href="#">Another Notification</a>
                                    </li>
                                    <li>
                                        <a href="#">Another One</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">person</i>
                                    <p class="hidden-lg hidden-md">Profile</p>
                                </a>
                            </li>
                        </ul>
                        <form class="navbar-form navbar-right" role="search">
                            <div class="form-group  is-empty">
                                <input type="text" class="form-control" placeholder="Search">
                                <span class="material-input"></span>
                            </div>
                            <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                <i class="material-icons">search</i>
                                <div class="ripple-container"></div>
                            </button>
                        </form>
                    </div>
                </div>
            </nav>
            <div class="content">
                <div class="container-fluid">
                    <div class="col-lg-12 col-md-12">
                            <div class="card card-nav-tabs">
                                <div class="card-header" data-background-color="purple">
                                    <div class="nav-tabs-navigation">
                                        <div class="nav-tabs-wrapper">
                                            <span class="nav-tabs-title">Report Hacks</span>
                                            <ul class="nav nav-tabs" data-tabs="tabs">
                                                <!-- <li class="active">
                                                    <a href="#profile" data-toggle="tab">
                                                        <i class="material-icons">date_range</i> Outdated
                                                        <div class="ripple-container"></div>
                                                    </a>
                                                </li>
                                                <li class="">
                                                    <a href="#messages" data-toggle="tab">
                                                        <i class="fa fa-chain-broken" aria-hidden="true"></i> Broken Link
                                                        <div class="ripple-container"></div>
                                                    </a>
                                                </li>
                                                <li class="">
                                                    <a href="#settings" data-toggle="tab">
                                                        <i class="material-icons">bug_report</i> Misinformation
                                                        <div class="ripple-container"></div>
                                                    </a>
                                                </li>
                                                <li class="">
                                                    <a href="#settings" data-toggle="tab">
                                                        <i class="material-icons">cloud</i> Copyright 
                                                        <div class="ripple-container"></div>
                                                    </a>
                                                </li> -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="profile">
                                            <table class="table">
                                                <thead class="text-warning">
                                                    <tr>
                                                        <th>S. No.</th>
                                                        <th>Hack Serial No</th>
                                                        <th>Hack Text</th>
                                                        <th>Date</th>
                                                        <th>Category</th>
                                                        <th>Reports</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                    <tbody id="reports">
                                                        
                                                    </tbody>
                                            </table>
                                        </div>
                                        <div class="tab-pane" id="messages">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td>Flooded: One year later, assessing what was lost.
                                                        </td>
                                                        <td class="td-actions text-right">
                                                            <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                                <i class="material-icons">edit</i>
                                                            </button>
                                                            <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                                <i class="material-icons">close</i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Sign contract for "What are conference organizers afraid of?"</td>
                                                        <td class="td-actions text-right">
                                                            <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                                <i class="material-icons">edit</i>
                                                            </button>
                                                            <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                                <i class="material-icons">close</i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="tab-pane" id="settings">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                                                        <td class="td-actions text-right">
                                                            <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                                <i class="material-icons">edit</i>
                                                            </button>
                                                            <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                                <i class="material-icons">close</i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Flooded: One year later, assessing what was lost.
                                                        </td>
                                                        <td class="td-actions text-right">
                                                            <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                                <i class="material-icons">edit</i>
                                                            </button>
                                                            <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                                <i class="material-icons">close</i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Sign contract for "What are conference organizers afraid of?"</td>
                                                        <td class="td-actions text-right">
                                                            <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                                <i class="material-icons">edit</i>
                                                            </button>
                                                            <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                                <i class="material-icons">close</i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="#">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Company
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Portfolio
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Blog
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <p class="copyright pull-right">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>
                        <a href="#">Crumblyy</a>, made with love for a better web
                    </p>
                </div>
            </footer>
        </div>
    </div>
</body>
<!--   Core JS Files   -->
<script
              src="https://code.jquery.com/jquery-2.2.4.min.js"
              integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
              crossorigin="anonymous"></script>
<script src="../assets/js/utility.js" type="text/javascript"></script>

<script type="text/javascript">
     var token="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1lIjoiTWQgWnVyZXogVHViYSIsImF1dGhfcHJvdmlkZXIiOiJnb29nbGUiLCJhY2Nlc3NfdG9rZW4iOiIxMjM0NTY2ODkiLCJlbWFpbCI6Inp1cmV6NHUrdGVzdDJAZ21haWwuY29tIiwiX2lkIjoiNWEyZjllMWI2ODY1YjE0ZDMxZjdkZWQzIiwiaWF0IjoxNTEzMDcwMTA3fQ.0fYvmncR8OC9ERlgNIo1knKcTW-jvJrkGX8j1srd1Zc";
    function get_reports() {
        url=url="http://"+location.host+"/report/all";
        $.ajax({
            "type":"POST",
            "url":url,
            data:{
                "token":token
            },
            success:function(r){
                rows="";
                for (var i =r.length - 1; i >= 0; i--) {

                    a=r[i];
                    console.log(a); 
                    if (a.hack.length>0) {
                        rows+=`
                        <tr>
                        <td>
                        `+i+`
                        </td>
                        <td>
                        `+
                            a.hack[0].serial_number
                        +
                        `
                        </td>
                        <td>
                        `
                        +a.hack[0].body+
                        `
                        </td>
                        <td>
                        `
                         +a.created_at+
                        `
                        </td>
                        <td>
                        `
                        +a.hack[0].category+
                       
                        `
                        </td>
                        <td>
                            `

                            +a.reports+
                            `
                        </td>
                        <td>
                        <a class="btn btn-default btn-danger" 

                        href="http://`
                        +location.host+"/web/hack/edit/"+a._id+
                        `">Edit</a>
                        </td>
                        <tr/>
                    `;
                    }
                    

                }
                // options+="<option selected='selected'>Please select</option>";
                // console.log(rows);
                $('#reports').append(rows);
            }
        })
    }

    $(document).ready(function(){
        get_reports()
    });
</script>


<script src="../assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../assets/js/material.min.js" type="text/javascript"></script>
<!--  Charts Plugin -->
<script src="../assets/js/chartist.min.js"></script>
<!--  Dynamic Elements plugin -->
<script src="../assets/js/arrive.min.js"></script>
<!--  PerfectScrollbar Library -->
<script src="../assets/js/perfect-scrollbar.jquery.min.js"></script>
<!--  Notifications Plugin    -->
<script src="../assets/js/bootstrap-notify.js"></script>

<!-- Material Dashboard javascript methods -->
<script src="../assets/js/material-dashboard.js?v=1.2.0"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src="../assets/js/demo.js"></script>

</html>